<!DOCTYPE html> 
<html lang="en"> 
    <head>     
        <meta charset="UTF-8"> 
        <title>My Website - About</title>    
        <link rel="stylesheet" href="/app/static/css/profile.css">
    </head> 
    <body>     
        <header>
            <img src="/app/static/Koala.jpg" alt="Picture of me">
            <p clas="header">Ramal Carbon</p>
            <div>
            @Cabo88</br>
            Grandbay, Dominica</br>
            Joined Februay, 2019
            </div>
          
        </header>
        <main>
          Main
        </main> 
    </body> 
</html> 